<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>MyAccount</title>
    <link rel="stylesheet" type="text/css" href="css/MyAccount.css">
</head>
<body>
    <h1></h1>
    <div id="content" class='wrapper'>
        <div id="background"></div>
          <!--left sidebar-->
          <div id="sidebar" class="box sidebar">
            <h3>All Trip Offers</h3>
            <div class="wrapper2" >
                <ul id="trip-offers">

                </ul>
            </div>
        </div>

        <!--right sidebar-->
        <div class="box sidebar2">
            <h3>Trip Requests</h3>
            <div class="wrapper2" >
                <ul id="trip-requests">

                </ul>
            </div>
        </div>

        <!--center sidebar-->
        <div class="box content">
            <h3>my Trip Offers</h3>
            <div class="wrapper2" >
                <ul id="my-trip-offers">

                </ul>
            </div>
        </div>
</div>

   
</body>
</html>