<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>SignIn</title>
    <link rel="stylesheet" type="text/css" href="css/login.css">

</head>
<body>
    <h1></h1>
    <div id="content">
        <div id="background"></div>
        <p id="heading">Sign In</p>
        <form autocomplete="on" method="POST">
            <p class="formElement">User Name</p>
            <input type="text" id="username" placeholder="User Name" required>
            <p class="formElement">Enter Password</p>
            <input type="password" id="password" placeholder="Enter Password" required>
        </form>
        <button class="button" onclick="location.href='./MyAccount.html'"><span>Next</span></button>
        <p id="signup">Don't have an account? <a href="./SignUp.html">Sign up</a></p>
        <p id="forgot"> <a href="./ForgotPassword.html">Forgot Password?</a></p>
    </div>
   
</body>
</html>