<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>User SignUp</title>
    <link rel="stylesheet" type="text/css" href="css/PassengerSignup.css">    
</head>
<body>
    <h1></h1>
    <div id="content">
        <div id="background"></div>
        <p id="heading">REGISTRATION FORM</p>
        <form autocomplete="on" method="POST">
            <p class="formElement">Name</p>
            <input type="text" id="name" placeholder="Name" required>
            <p class="formElement">Phone Number</p>
            <input type="text" id="phonenumber" placeholder="Phonenumber" required>
            <p class="formElement">Email</p>
            <input type="email" id="email" placeholder="Email" required>
            <p class="formElement">User Name</p>
            <input type="text" id="username" placeholder="User Name" required>
            <p class="formElement">Password</p>
            <input type="password" id="password" placeholder="Password" required>
        </form>
        <button onclick="location.href='./Login.html'"><span>Next</span></button>
        <p id="signin">Have an account? <a href="./Login.html">Log In</a></p>
    </div>

</body>
</html>