<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>SwitchToDriver</title>
    <link rel="stylesheet" type="text/css" href="css/SwitchToDriver.css">
</head>
<body>
    <h1></h1>
    <div id="content">
        <div id="background"></div>
        <p id="heading">Driver Sign-up</p>
        <form autocomplete="on" method="POST">
            <p class="formElement">Vehicle Model</p>
            <input type="text" id="vehicle" placeholder="Vehicle Model" required>
            <p class="formElement">Driver's license</p>
            <input type="text" id="license" placeholder="Driver's license" required>
        </form>
        <button class="button" onclick="next()"><span>Next</span></button>
    </div>


</body>
</html>