<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>YourTrips</title>
    <link rel="stylesheet" type="text/css" href="css/YourTrips.css">
</head>
<body onload = 'populateTrips()'>
    <h1></h1>
    <div id="content">
        <div id="background"></div>
        <p id="heading">Your Trips</p>
        <button class="button" id="upcoming">Upcoming</button>
        <button class="button" id="past" onclick="location.href='./PastTrips.html'">Past</button>
        <button class="button" id="back" onclick="location.href='./MyAccount.html'"><span>Back</span></button>
    </div>

 
</body>
</html>